<div class="basic-container">
  <mat-toolbar color="primary"> TopNav Menu Navigation Example </mat-toolbar>
  <mat-toolbar class="menu-bar mat-elevation-z1">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <span *ngFor="let item of navItems">
        <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0">
          <button
            mat-button
            [matMenuTriggerFor]="menu.childMenu"
            [disabled]="item.disabled"
          >
            {{ item.displayName }}
          </button>
          <app-menu-item #menu [items]="item.children"></app-menu-item>
        </span>
        <!-- Leaf node buttons here -->
        <span *ngIf="!item.children || item.children.length === 0">
          <button mat-button color="primary" [routerLink]="item.route">
            {{ item.displayName }}
          </button>
        </span>
      </span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <span *ngFor="let item of navItems">
        <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0">
          <button
            mat-button
            [matMenuTriggerFor]="menu.childMenu"
            [disabled]="item.disabled"
          >
            {{ item.displayName }}
          </button>
          <app-menu-item #menu [items]="item.children"></app-menu-item>
        </span>
        <!-- Leaf node buttons here -->
        <span *ngIf="!item.children || item.children.length === 0">
          <button mat-button color="primary" [routerLink]="item.route">
            {{ item.displayName }}
          </button>
        </span>
      </span>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
<span class="version-info"
  >Current build: {{ version.full ? version.full : version }}</span
>
